<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chats</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav>
        <a href="/"> Home </a>
        <a href="/chats"  class="current"> Chats </a>
        <a href="/chats/new"> New Chat </a>
    </nav>
    <% for(let i = allChats.length-1; 0<=i; i-=1) { %>
        <div class="container">
            <% if(allChats[i].edited) { %>
                <p class="edited">Edited</p>
            <% } %>
            <h4 class="from"> <%= allChats[i].from %> said:</h4>
            <p class="message"> <%= allChats[i].message %> </p>
            <h4 class="to"> to <%= allChats[i].to %> </h4>
            <a href="/chats/edit/<%- allChats[i]._id %>"><button class="btn edit">Edit</button></a>
            <button class="btn delete" onclick="confirmDelete('<%- allChats[i]._id %>')">Delete</button>
            <p class="date"> at <%= allChats[i].date %> </p>
        </div>
    <% } %>
    <script src="/script.js"></script>
</body>
</html>